# Exploratory Visual Analysis

## Table of Contents:

1. Import Libraries + Data

## 01. Import Libraries + Data

In [1]:
# importing libraries (add visualization libraries after I read 6.02)
import pandas as pd
import numpy as np
import os

In [2]:
# import data path
path = r'/Users/alliecarlisle/Desktop/CareerFoundry_Data_Analytics/Craft_Beer_Sales_Analysis'

In [3]:
path

'/Users/alliecarlisle/Desktop/CareerFoundry_Data_Analytics/Craft_Beer_Sales_Analysis'

In [4]:
# import merged beer and transactions data set
df_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'beer_transactions.pkl'))

In [6]:
df_merge.head()

,product_code,vendor,name,retail_price,product_unit,vendor_country,size,abv,Date_and_time_of_unloading,units_sold,revenue,discount,profit,percent_markup,percent_discount,_merge
0,5028,nan,1 Symbiotica Apple 0.375,300.0,Pieces,Russia,0.375,4.5,7/3/22 0:00,2.0,420.00,180.00,140.00,50.00,30.00,both
1,5028,nan,1 Symbiotica Apple 0.375,300.0,Pieces,Russia,0.375,4.5,7/9/22 13:00,4.0,960.00,240.00,400.00,71.43,20.00,both
2,5028,nan,1 Symbiotica Apple 0.375,300.0,Pieces,Russia,0.375,4.5,7/19/22 20:00,5.0,1440.00,60.00,740.00,105.71,4.00,both
3,4846,nan,1 Symbiotica Hard Kombucha Renegade Aronia 0.33,200.0,Pieces,Russia,0.330,3.0,3/20/22 17:00,4.0,412.23,277.77,52.23,14.51,40.26,both
4,4846,nan,1 Symbiotica Hard Kombucha Renegade Aronia 0.33,200.0,Pieces,Russia,0.330,3.0,3/23/22 17:00,2.0,360.00,40.00,180.00,100.00,10.00,both

In [7]:
df_merge.shape

(50081, 16)